body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 50px; /* Added padding at the bottom */
}

header {
  background-color: #1f1f1f;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#experience-list {
  padding-top: 70px; /* Ensure content starts below the header */
  margin: 20px;
}

.module {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.module:hover {
  transform: scale(1.02);
}

.module-name {
  font-weight: bold;
  font-size: 1.2em;
}

.module-description {
  margin: 10px 0;
}

.module-skills {
  font-style: italic;
  color: #b0b0b0;
}

.module-date {
  font-weight: bold;
}

.internship {
  border-left: 5px solid #007bff; /* Blue color for internships */
}

.technical-team {
  border-left: 5px solid #28a745; /* Green color for technical team roles */
}

.non-coding {
  border-left: 5px solid #ffc107; /* Yellow color for non-coding jobs */
}

#date-display {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1f1f;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
